# Mark scripts as vendored so GitHub Linguist ignores them

*.sh linguist-vendored
*.bash linguist-vendored
**/*.sh linguist-vendored
**/*.bash linguist-vendored
**/scripts/** linguist-vendored
**/docker/** linguist-vendored

